# Virtual environment
env/
venv/
.venv/


# Python cache
__pycache__/
*.pyc
*.py[cod]

# Environment variables
.env
.env.*
!.env.example
ca.pem

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database files
*.db
*.sqlite
*.sqlite3